{{ define "main" }}
<main>
  <h1>{{ .Title }}</h1>
  <article>{{ .Content }}</article>
  <section>
    <ul>
      {{ range .Pages }}
      <li>
        <p>
          <span class="article-item">
            <a href="{{.Permalink}}">{{.Title}}</a>
            <i class="article-date" style="margin-left: auto">
              {{ "--" | markdownify }} {{ .Date.Format "2 August, 2006" }}
            </i>
          </span>
          {{ .Summary | truncate 180 }}
        </p>
      </li>
      {{ end }}
    </ul>
  </section>
</main>
{{ end }}
