{{ define "main" }}
<main>
  <article id="content">
    <header class="article-meta">
      <h1 id="article-title">{{ .Title }}</h1>
      <div id="meta">
        <p id="date">
          {{ .Date.Format "Jan 2, 2006" }} &middot;
          {{ div .WordCount 130 }} minutes read
        </p>
      </div>
    </header>
    {{ if (isset .Params "cover") }} 
      {{ $pageCover := .Param "cover" }}
      {{ with (.Resources.GetMatch (.Param "cover")) }} 
      {{ $pageCover = .RelPermalink }} {{ end }}
        <img src="{{ $pageCover | absURL }}" alt="">
    {{ end }}
    {{ with .Content }}
    {{ . | replaceRE "(<h[2-4] id=\"([^\"]+)\".+)(</h[2-4]+>)" `${1}<a
      href="#${2}" class="hanchor" ariaLabel="Anchor"> # &nbsp;</a>${3}`| safeHTML }}
    {{ end }}
    <footer>{{ partial "pagination" . }}</footer>
  </article>
</main>
{{ end }}
